# Archivos de Build y Salida
/build
/out
.gradle
*/build/

# Configuración de IDE (Android Studio)
.idea/workspace.xml
.idea/libraries/
.idea/assetManagers.xml
.idea/encodings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/copyright/
.idea/scopes/
*.iml
*.iws

# Propiedades Locales (Ruta del SDK)
local.properties

# Archivos de Aplicación
*.apk
*.aar

# Directorios Temporales y Logs
captures/
*.log

# Archivos de Proguard (si se usan)
proguard/

# Configuración de Firmas (IMPORTANTE: Mantenlos fuera del VCS)
*.keystore